@import "tailwindcss";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom utilities */
/* @layer utilities {
  .section-title {
    @apply text-2xl font-bold text-blue-700 mb-4 pb-2 border-b-2 border-blue-200;
  }
  
  .card {
    @apply bg-white rounded-lg shadow-md p-6 mb-6 hover:shadow-lg transition-shadow duration-300;
  }
} */
